<p>&quot;<%= @obj["quote"] %>&quot;<br />
  &ndash; <%= @obj["attribution"] %>
</p>

<p>
  Submitted by <%= @obj["submitter"] %> and viewed with user agent <%= @ua %>
</p>
<p>
  Array sum of <%= arr = [1,2,3,4] %> is <%= arr.sum %>
</p>
<p>
  And <%= arr %>.test is <%= arr.test%>
</p>